---
layout: default
title:  Evolution in slow motion.
---

<section id="rambling">
<ul>
{% for post in site.posts %}
	<li>
		<span class="info">{{ post.date | date: "%h %Y" }}</span>
		<a href="{{ post.url }}">{{ post.title }}</a>
	</li>
{% endfor %}
</ul>
</section>
