<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	{% include style.html %}
</head>

<body>
{% include navigation.html %}

{{ content }}

{% include footer.html %}
