<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	{% include style.html %}
</head>

<body>
{% include navigation.html %}

<article id="rambling">
	<h1>{{ page.title }}</h1>
	{{ content }}
	<footer class="article-meta">
		<p><a href="/p/me">lu</a> has written this sometime around
		<time date="now">{{ page.date | date: "%h %Y" }}</time>.</p>
	</footer>
</article>

{% include footer.html %}
